body {
    font-family: sans-serif;
    background: linear-gradient(darkgreen, beige);
    margin:20px;

}
h1 {
    text-align: center;

}
.logo{
    width: 100px;
    height: 140px;

}
main{
    font-size:23px;
}
footer{
    background-color: darkgreen;
}
nav {
    border-top: 3px solid  beige;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid  beige;
    padding-top: 10px;
    padding-bottom:10px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: darkgreen;
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
    text-align: center;
}
